.primary-column {
    background-color: red;
    color: white;
}

.secondary-column {
    background-color: yellow;
    color: red;
}

.third-column {
    background-color: black;
    color: white;
}
.primary-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.primary-column{
 width: 50%;
}
.secondary-column{
    width: 20%;
}

.third-column{
    width: 30%;

}

